
.dashboard {
  text-align: center;
}

/* header */
.dashboard-header {
  background-color: #eaedf0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #000000;
}

.user-travels {
  align-self: flex-start;
  margin-left: 30px;
  font-family: 'Brush Script MT', cursive;
}

.add-travels-button {
  position: absolute;
  right: 30px;
  background-color: #dfe2e5;
  color: black;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, serif;
}

.add-travels-button:hover {
  background-color: #eaedf0;
}

/* body */
.dashboard-body {
  width: 100%;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #000000;
}

.mercator-pic {
  width: 50%;
  height: auto;
}

.buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.list-button {
  width: 100%;
  margin: 0 2px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #dfe2e5;
  color: black;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

.list-button:hover {
  background-color: #0056b3;
}

.countries-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Georgia, serif;
}

.countries-list li {
  width: 100%;
  text-align: center;
}

.countries-button {
  width: calc(100% - 40px);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #eaedf0;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  text-align: center;
}

.countries-button:hover {
  background-color: #dde5ed;
}