.App {
  text-align: center;
}

.UserName-Travels {
  align-self: flex-start;
  margin-left: 30px;
}

.App-header {
  background-color: #afcdeb;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #000000;
}

.App-mercator {
  width: 50%;
  height: auto;
  margin-top: 20px;
}

.App-body {
  background-color: #afcdeb;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #000000;
}

.countries-title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.country-list {
  list-style-type: none;
  padding: 0;
  text-align: left;
  margin-top: 5px; /* spacing from map */
}

.country-list li {
  margin: 2px 0; /* spacing between list items */
}